doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script.
            var msg = '!{message}';
            var user = '!{username}';
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h1 Welcome to EHIMS
            h2 Hi, !{username}
        .row
            br
        .row
            p(style='white-wrap: pre') !{message}
