h5(style='width:100%;text-align:center')
    | Tree View
#graph-tree
    #tree
#parent-view
    h5(style='width:100%;text-align:center')
        | Merge Ideas
    form#other-parent
        .row.collapse
            .small-9.columns
                input#extra-parent(type='text',
                    placeholder="Message ID",
                    name="message")
            .small-3.columns
                button.postfix Add
    ul#other-parents

