doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        script(src="/foundation/js/foundation.min.js")
    body
        .row(style="margin-top:5%")
            .large-6.medium-6.columns.large-offset-3.medium-offset-3
                h2 Whoops
                p.
                    Looks like something went wrong...

