doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/channel.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script.
            var channels = !{JSON.stringify(channels)};
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h2 Administration
        .row
            br
        .row
            h3(style="display: inline") Group Details
            i.fa.fa-minus-circle.fa-2x.sub-icon(id='sub-group')
            i.fa.fa-plus-circle.fa-2x.add-icon(id='add-group')
            p
            table.large-12.medium-12.small-12
              thead
                tr
                  th(width='100' style='text-align: center') Group No.
                  th(width='100' style='text-align: center') Time
                  th(width='100' style='text-align: center') Members Number
                  th(width='130' style='text-align: center') Type
                  th(width='100' style='text-align: center') Tree Views
                  th(width='200' style='text-align: center') Members
                  th(style='text-align: center') Create
                  th(width='100' style='text-align: center') Results
              tbody
                tr
                  td 1
                  td Aug 30 2019
                  td 3
                  td 
                    input(type='radio', name='ctype',value='path')
                    label Sequential
                    br
                    input(type='radio', name='ctype', value='tree')
                    label Tree
                    br
                    input(type='radio', name='ctype', value='graph')
                    label Graph
                  td 
                    input(type='checkbox' style='position: relative;top: 10px;left: 32px;transform:scale(1.5, 1.5);')
                  td 
                  td Yes
                  td 
                tr
        .row
            br
        .row
            h3(style="display: inline") Survey Questions
            i.fa.fa-minus-circle.fa-2x.sub-icon(id='sub-question')
            i.fa.fa-plus-circle.fa-2x.add-icon(id='add-question')
            div.large-3(id="survey-page")
              select
                option(value='0') Select page:
                option(value='12') Volvo
            p
            table.large-12.medium-12.small-12
              thead
                tr
                  th(width='100' style='text-align: center') No.
                  th(style='text-align: center') Question
              tbody
                tr
                  td 1
                  td What is your name?
                tr
                  td 2
                  td How old are you?