doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        link(rel="stylesheet",href="/myassets/css/admin.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script(src="/myassets/js/instructions.js")
        script.
            var instructions = !{JSON.stringify(instructions)};
            var tester = !{JSON.stringify(tester)};
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h2 Welcome to EHIMS
        .row
            br
        .row
            h3 Instructions
            br
            p#instructions(style='white-space: pre')
            form#agreeconsent(method='post', action="/tester_channels")
              input(type='hidden' id="tester" name='tester')
              script.
                $("#tester").val(JSON.stringify(tester));
              input(type="checkbox" name='agreebox') 
              label I have read the instructions and agree to those conditions.
              br
            a(href='javascript:void(0);', onclick="document.getElementById('agreeconsent').submit();")
              button#agreehref Agree
