doctype html

html
    head
        link(rel="stylesheet",href="/foundation/css/foundation.min.css")
        link(rel="stylesheet",href="/fontawesome/css/font-awesome.css")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/foundation/js/foundation.js")
        script.
            var user = '!{username}';
            var survey_code = '!{survey_code}'
    body
        .row(style="margin-top:5%")
            .large-12.medium-12.small-12.columns
            h1 Thank you, !{username}
        .row
            br
        .row
            p Amazon Mechanical Turk survey code: 
                a #{survey_code}
